h1 { 
  color: #1E4F80; 
  margin-top: 60px;
  font-family: 'Times New Roman', serif; 
  font-size: 80px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Rouge Script', cursive;
  font-size: 50px;
} 

h4 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 30px;
}

h5 {
  font-family: 'Rouge Script', cursive;
  font-size: 30px;
}

.logo {
    margin-top: 30px;
    border-radius: 40%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.tiny {
  margin-top: 0px;
  border-radius: 40%;
  margin-left: 10%;
  margin-right: auto;
  max-width: 20%;
}
.container-lg{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}
.card{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}


body {
  background-color: whitesmoke/*#000000/**/;
}

.about-body{
  margin-left: 2cm;
  text-align: center;
  font-family: 'Crimson Pro', serif; 
  font-size: 22px; 
  width: 30cm;
}

.card-body{
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.article-body{
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
}

#navbarSupportedContent{
  font-family: 'Crimson Pro', serif;
  font-size: 25px;
}

.dropdown-menu{
  font-family: 'Crimson Pro', serif;
  font-size: 18px; 
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
.col {
   float: left;
}
 
.left {
  width: 10%;
}
 
.right {
  margin-top: 20px;
  margin-left: 20px;
  width: 70%;
}
#next_button{
    margin-left: 88%;
}

footer {
  background-color: #717A82;
  padding: 10px;
  text-align: center;
  color: white;
}

header {
  margin-top: 0px;
  background-color: #C3D1DE; /*#6B7883;  /*606B75;*/
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
 }

#classifier_head {
  margin-top: 0px;
  background-color: #C3D1DE;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black; 
}

.article-body {
    margin-top: 40px;
}

#notebooks {
  border-radius: 20%;
  max-width: 85%;
}

.favicon{
  border-radius: 40%;
}

.button{
  color: black;
  font-size: 16px;
  width: 250px;
  padding: 12px 28px;
  border-radius: 12px;
  border: 2px solid grey;
  background-color: gray;
  color: white;
}

.btn {
  margin-top: 4px;
  margin-bottom: 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.btn-group {
  margin: 2px;
}

.form {
  margin-top: 10px;
  margin-bottom: 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#chartdiv {
  width: 100%;
  height: 400px;
}

.classifier_search {
  padding: 50px; 
  text-align: center;
  font-size: 16px;
}

.classifier_search_header{
  border-radius: 20px;
  padding-top: 40px; 
  padding-bottom: 40px; 
  background-color: #C3D1DE;
}

