h1 {
    color: #00bfff;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    margin-top: 30px;
    border-radius: 40%;
    margin-left: auto;
    margin-right: auto;
    max-width: 150%;
}

body {
  background-color: whitesmoke;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
.col {
   float: left;
}
 
.left {
  width: 10%;
}
 
.right {
  margin-left: 20px;
  margin-top: 50px;
   width: 70%;
}
.next_button{
    margin-left: 85%;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

header {
  margin-top: 0px;
   background-color: #777;
   padding: 30px;
   text-align: center;
   font-size: 35px;
   color: white;
 }

.article-body {
    margin-top: 40px;
}